@page "/"

<PageTitle>Index</PageTitle>

<div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item">
        <div class="statistic-table-box">
             
            <table class="statistic-table" >
                <tr>
                    <td>
                        <p class="p" >4353</p>
                        <p>Antal användare</p>
                    </td>
                    <td>
                        <p class="p">4353</p>
                        <p>Antal kunder</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="p">500</p>
                        <p>Lora</p>
                    </td>
                    <td>
                        <p class="p">500</p>
                        <p>GSM</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="p">1000</p>
                        <p>Antal trakkers</p>
                    </td>
                    <td ></td>
                </tr>

            </table>

        </div>
       
    </div>
    <div class="grid-item">3</div>
    <div class="grid-item combined" >4</div>
    <div class="grid-item">5</div>
    <div class="grid-item">6</div>
    <div class="grid-item">7</div>
    <div class="grid-item combined">8</div>
    <div class="grid-item">9</div>
    <div class="grid-item">10</div>
    <div class="grid-item">11</div>
    <div class="grid-item combined">12</div>

</div>


@code
{

}
