@page "/"

<PageTitle>Index</PageTitle>

@* <div class="row" id="expandedPrj">
    <div id="detailedPrjGrid">
        <div class="detailedPrjGrid-item" >
            <p> k</p>
        </div>
        <div class="detailedPrjGrid-item" >
            <p> r</p>
        </div>
           <div class="detailedPrjGrid-item" id="descr">
            <p>sfgafjsfhas ssknfskf s lsdjgsljgklasdjgkl;asdfkl;sad jskdlgklsdgklsa jsdkljglks kjlg njsdnmg lksad fnmsldaks djnksdlkjsd gnlsdan dsln lsj gslk glks gl;sl sk gkjsd gklsgslglsjg sdlsalkg lsaglksjlf slj ls glks lksgkasjglksa glshg slaká fpfjasj klss
                djglsjfglks ljslagj lksaj jsdfklsaj klsjgs lkjlskd jslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfkjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjlsaj klsjgs lkjlskd lksdjjslagj lksaj jsdfklsaj klsjgs lkjlskd lksdjlksdjfkl sjklj slkn glsdn lksdnf lksnfkl sdnfl kslfk snlkfsdlksdlkslk slkslkd klgklsn glka
            </p>
        </div> 
    </div>
</div> *@

<div class="grid-container">
    <div class="item-1">
        <div class="item">
            <div class="grid-item-1">
                1
            </div>
            <div class="grid-item-2">
                <div class="statistic-table-box">

                    <table class="statistic-table">
                        <tr>
                            <td>
                                <p class="p">4353</p>
                                <p>Antal användare</p>
                            </td>
                            <td>
                                <p class="p">4353</p>
                                <p>Antal kunder</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="p">500</p>
                                <p>Lora</p>
                            </td>
                            <td>
                                <p class="p">500</p>
                                <p>GSM</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="p">1000</p>
                                <p>Antal trakkers</p>
                            </td>
                            <td ></td>
                        </tr>

                    </table>

                </div>

            </div>
        </div>
        


        <div class="grid-item-3">3</div>
        <div class="grid-item-4">4</div>


    </div>


    <div class="item-2">
        <div class="grid-item">5</div>

        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
    </div>
    <div class="item-3">
        <div class="grid-item-8">
            8
        </div>
    </div>





</div>


